<h2>Complex Question</h2>
<div class="uk-grid">
    <div class="uk-card uk-card-body uk-width-1-2@m">
        <button class="uk-button uk-button-default" type="button">Hardness</button>
        <div uk-dropdown="">
            <ul class="uk-nav uk-dropdown-nav">
                <li (click)="setHardness(1)">
                    <a href="#">Easy</a>
                </li>
                <li (click)="setHardness(2)">
                    <a href="#">Medium</a>
                </li>
                <li (click)="setHardness(3)">
                    <a href="#">Hard</a>
                </li>
            </ul>
        </div>
        <div class="uk-card-badge uk-label">{{ hardness }}</div>
        

        <h3 class="uk-card-title">Question Title</h3>
        <textarea #questionTitle class="uk-textarea" rows="5" placeholder="title"></textarea>
        <h3 class="uk-card-title">Question Description</h3>
        <textarea #questionDescription class="uk-textarea" rows="5" placeholder="description"></textarea>
    </div>
    <div class="uk-card uk-card-body uk-width-1-2@m">
        <div style="position: absolute; top: 0px; right: 0px; margin: 5px">
            <button class="uk-button uk-button-default uk-button-small" uk-icon="expand" (click)="zoom(true)"></button>
            <button class="uk-button uk-button-default uk-button-small" uk-icon="shrink" (click)="zoom(false)"></button>
            <button class="uk-button uk-button-default uk-button-small" (click)="zoomReset()">Reset</button>

        </div>
        <div #htmlContainerFrame style="position: relative">
            <div [class.span-requested]="!isSpanRequested" #inputMarker style="position: absolut; height: 100%; width: 100%; font-size: initial;">
                <div>
                    <label>Selected Control </label>
                    <label style="color:darkred; font-weight: bolder" #selectedControlHtml></label>
                </div>
                <label>The identifier for this control:</label>
                <input #textifier class="uk-input" type="text" />


                <button class="uk-button uk-button-danger" (click)="spanMode(false)">Cancel</button>
                <button class="uk-button uk-button-primary" (click)="createSpan($event)">Ok</button>
            </div>
            <div [class.span-requested]="isSpanRequested" style="position: absolut; height: 100%; width: 100%;" id="htmlContainer" #htmlContainer>

            </div>

            <button [class.span-requested]="isSpanRequested" [hidden]="!acceptable" class="uk-button uk-button-primary uk-align-right"
                (click)="accept()">Accept</button>



        </div>

    </div>
</div>
<hr />
<button #themeButton class="uk-button uk-button-default" (click)="themeButtonClicked()">Theme</button>
<textarea id="code" #editor class="editor">
    <div id="maincontent">
        <div>
            <div style="display: inline-block">
                <input type="text" style="width: 200px" value="">                    
            </div>
        </div>
        <div>
            <div style="display: inline-block">
                <button>1</button>                
            </div>
            <div style="display: inline-block">
                <button>2</button>                
            </div>
            <div style="display: inline-block">
                <button>3</button>                
            </div>
            <div style="display: inline-block">
                <button>C</button>                
            </div>
        </div>
    
  
    
       
    
        <div>            
                <div style="display: inline-block">
                        <button>-</button>                
                    </div>
            <div style="display: inline-block">
                <button>*</button>                
            </div>
            <div style="display: inline-block">
                <button>=</button>                
            </div>
        </div>
</textarea>
<button class="uk-button uk-button-secondary" (click)="synthesizeHtml()">Synthesize</button>
<hr />