<!--The content below is only a placeholder and can be replaced.-->
<div class="uk-container">
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav uk-navbar-inverse">
            <li>
                <a class="uk-navbar-nav-subtitle" routerLink="/test" routerLinkActive="active">Create Question</a>
            </li>
            <li>
                <a class="uk-navbar-nav-subtitle" routerLink="/user-questions" routerLinkActive="">User Questions</a>
            </li>
            <!-- <li>
                <a class="uk-navbar-nav-subtitle" routerLink="/test">test</a>
            </li> -->
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>